body{
    background: #202020;
    user-select: none;
}

#headerbar{
    position: absolute;
    background: #343538;
    /* border-top: 1px solid rgba(255,255,255,0.3); */
    border-bottom: 1px solid rgba(255,255,255,0.3);
    left: 0px;
    right: 0px;
    top: 0px;
    height: 48px;
    width: auto;
    justify-content: center;
}

.header{
    height: 48px;
    line-height: 48px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    top: 0px;
    display: inline-block;
    cursor: default;
    user-select: none;
}

.header:hover{
    background: rgba(255,255,255,0.1)
}

.activeheader{
    border-bottom: 1px solid rgba(255,255,255,0.7);
}

.prefitem{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    cursor: default;
}

.list{
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 10%;
    right: 10%;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    cursor: default;
}

.toggle-off
{
  height: 16px;
  width: 25px;
  display: inline-block;
  position: absolute;
  right: 25px;
  border-radius: 24px;
  background: white;
  box-shadow:inset -9px 0px 0px 0px #adadad;
  transition: 0.2s all ease;
  border-style: solid;
  border-width: 2px;
  border-color: #adadad;
}

.toggle-on
{
  height: 16px;
  width: 25px;
  display: inline-block;
  position: absolute;
  right: 25px;
  border-radius: 24px;
  background: white;
  /*box-shadow: inset 9px 0px 0px 0px #0cbaff;*/
  box-shadow: inset 9px 0px 0px 0px rgb(76,217,100);
  transition: 0.2s all ease;
  border-style: solid;
  border-width: 2px;
  /*border-color: #dadada;*/
  border-color: rgb(76,217,100);
}

.toggle-firm
{
  height: 16px;
  width: 25px;
  display: inline-block;
  position: absolute;
  right: 25px;
  border-radius: 24px;
  /* background: linear-gradient(#4b5066, #383c4c); */
  /* background: linear-gradient(#ededed,#adadad); */
  background: rgb(76,217,100);
  /*background: #0cbaff;*/
  transition: 0.2s all ease;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(76,217,100);
}

.toggle-on:active
{
  box-shadow:inset 7px 0px 0px 0px rgb(76,217,100);
}

.toggle-off:active
{
  box-shadow:inset -7px 0px 0px 0px #adadad;
}

.textbox{
    position: absolute;
    color: white;
    right: 20px;
    /* outline: none; */
    background: rgba(1, 1, 1, 0.2);
    border: 1px solid rgba(255,255,255,0.4);
    width: 96px;
}

.textbox:focus{
    outline: none;
}