body{
    background: white;
    user-select: none;
    overflow: hidden;
}

#titlebar-region{
    -webkit-app-region: drag;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 68px;
    background: #343538;
    cursor: default;
}

.ui-titlebar {
	display: flex;
	width: 100%;
	height: 32px;
	/* background: #0072c6; */
	user-select: none;
    cursor: default;
    -webkit-app-region: no-drag;
} 
.ui-titleicon {
	flex-grow: 1;
	max-width: 32px;
	max-height: 32px;
}
.ui-titletext {
	flex-grow: 2;
	max-height: 32px;
	width: auto;
	font: 12px/32px "Segoe UI", Arial, sans-serif;
	color: #fff;
	text-indent: 10px;
}
.ui-titlecontrols {
	max-width: 144px;
	max-height: 32px;
	flex-grow: 1;
}
.ui-btn {
	margin: 0;
	width: 48px;
	height:32px;
	border: 0;
	outline: 0;
	background: transparent;
}
.ui-btn:hover {
	background: rgba(255,255,255,.01);
}
.ui-btn.close:hover {
	background: #e81123;
}
.ui-btn svg path, 
.ui-btn svg rect, 
.ui-btn svg polygon {
	fill: #fff;
}
.ui-btn svg {
  width: 10px;
  height: 10px;
}

#newtabbutton{
    /* background: rgba(1, 1, 1, 0.15); */
    background: rgba(1, 1, 1, 0.2);
    position: absolute;
    height: 32px;
    width: 25px;
    right: 145px;
    top: 0px;
    text-align: center;
    line-height: 32px;
    color: white;
    font-size: 26px;
    font-weight: bold;
    user-select: none;
    cursor: default;
    -webkit-app-region: no-drag;
}

#newtabbutton:hover{
    /* background: rgba(1, 1, 1, 0.15); */
}

#tabregion{
    background: rgba(1, 1, 1, 0.2);
    position: absolute;
    left: 0px; 
    right: 170px;
    top: 0px;
    height: 32px;
    -webkit-app-region: drag;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

#tabregion::-webkit-scrollbar { 
    display: none; 
}

#urlbar{
    position: absolute;
    -webkit-app-region: no-drag;
    left: 120px;
    right: 120px;
    width: calc(100% - 240px);
    /* width: auto; */
    height: 26px;
    top: 35px;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    user-select: none;
    transition: 0.2s all ease;
    /* transition: 0.2s border-bottom ease; */
    border: 1px solid rgba(255,255,255,0.2);
}

#urlbar::selection{
    background: rgba(255,255,255,0.6);
    color: black;
}

#urlbar:focus{
    background: rgba(255, 255, 255, 0.2);
    /* box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,1); */
}

#urlbar::placeholder{
    color: rgba(255,255,255,0.5);
}

#urlbar:hover{
    border: 1px solid rgba(255,255,255,0.4);
}

#navbuttons{
    color: white;
    font-size: 32px;
    position: absolute;
    left: 4px;
    top: 32px;
    transition: 0.2s color ease;
}

#endingbuttons{
    color: white;
    font-size: 32px;
    position: absolute;
    right: 4px;
    top: 32px;
}

.ubarnavbtn{
    /* transition: 0.2s all ease; */
    -webkit-app-region: no-drag;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid rgba(255,255,255,0);
}

.ubarnavbtn:hover{
    /* filter: opacity(0.6); */
    user-select: none;
    border: 1px solid rgba(255,255,255,0.4);
}

webview{
    display: none;
}

.activewbv{
    position: absolute;
    display: inline-flex;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 68px;
}

.tab{
    -webkit-app-region: no-drag;
    user-select: none;
    position: relative;
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 32px;
    height: 32px;
    background: rgba(255,255,255,0);
    width: auto;
    max-width: 240px;
    overflow: hidden;
    color: white;
    animation: tabanimin 0.2s ease;
    transform-origin: 0% 50% 0;
    /* box-shadow: inset -1px 1px 0px 0px rgba(255,255,255,0.1); */
    /* transition: 0.2s all ease; */
}

.tab:hover{
    /* background: rgba(255,255,255,0.05); */
}

.tabclosebtn{
    font-family: 'Material Icons' !important;
    color: grey !important;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 24px;
    position: absolute;
    /* background: green; */
    transition: 0.2s color ease;
}

.tabclosebtn:hover{
    color: white !important;
}

.tabtext{
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    /* background: orange; */
    max-width: 180px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 32px !important;
    padding-top: 0px !important;
}

.activetab{
    background: rgba(255,255,255,0.1) !important;
    box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,1);
}

.spinner div {
    width: 15px;
    height: 2px;
    position: absolute;
    left: -20px;
    top: 40px;
    /* background-color: #00c7ff; */
    background-color: #ffffff;
    /* border-radius: 50%; */
    animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
    animation-direction: alternate-reverse;
  }
  .spinner div:nth-child(2) {
    animation-delay: 150ms;
  }
  .spinner div:nth-child(3) {
    animation-delay: 300ms;
  }
  .spinner div:nth-child(4) {
    animation-delay: 450ms;
  }
  @keyframes move {
    0% {left: 0%;}
    75% {left:100%;}
    100% {left:100%;}
  }

#loaderwrapper{
    position: absolute;
    -webkit-app-region: no-drag;
    left: 140px;
    right: 95px;
    width: auto;
    height: auto;
    top: 21px;
    /* display: none; */
    opacity: 0;
    transition: 0.2s opacity ease;
}

.tabclosebtn{
    position: relative;
    left: 2px;
    color: white;
    display: inline-block;
}

#menu{
    position: absolute;
    right: -250px;
    top: 70px;
    background: #212121;
    border: 1px solid rgba(255,255,255,0.5);
    z-index: 20;
    min-width: 220px;
    transition: 0.2s all cubic-bezier(.27,.62,.59,1.01);
    /* display: none; */
    transform: scale(0.9);
    transform-origin: 50% 0%;
    opacity: 0;
}

.menuitem{
    color: white;
    line-height: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: calc(100% - 8px);
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-top: 1px solid rgba(255,255,255,0);
    border-bottom: 1px solid rgba(255,255,255,0);
    transition: 0.1s border ease;
    font-size: 16px;
}

.disabledmnuitem{
    color: #adadad;
    pointer-events: none;
}

.menuitem:hover{
    border-top: 1px solid rgba(255,255,255,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

@keyframes menuslidein {
    0%   { right: -250px; opacity: 0 !important; transform: scale(0.95); }
    100% { right: 2px; opacity: 1 !important; transform: scale(1);}
}

#notsecure{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: #adadad; */
    color: 	#A52A2A;
    position: absolute;
    left: 135px;
    top: 40px;
    margin-right: 10px;
    border-right: 1px solid white;
    height: 20px;
    line-height: 20px;
    animation: nsslidein 0.3s ease;
    display: none;
    cursor: default;
}

@keyframes nsslidein {
    0%   { opacity: 0; }
    100% { opacity: 1;}
}

@keyframes tabanimin {
    0%   { transform: scale(0,1); opacity: 0;}
    100% { transform: scale(1,1); opacity: 1;}
}

#mmx1{
    display: inline;
}

#mmx2{
    display: none;
}
