:root { /* increased modularity, hooray!*/
    --main-bg-color: black;
    --secondary-bg: black;
    --accent-offset: rgba(255,255,255,0.1);
    --standard-icon-colour: white;
    --standard-accent-colour: white;
    --standard-text-colour: white;
    --secondary-text-colour: #adadad;
    --window-outline: rgba(255,255,255,0.4);
    --debug: red; /*debug red lmao*/
}

#allwrapper{
    position: absolute;
}

.awwindowed{
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    outline: 2px solid var(--window-outline);
}

.awmaxim{
    top: 1px;
    bottom: 0px;
    left: 1px;
    right: 1px;
    outline: none; /* windows does really weird things with maximised windows */
}

body{
    background: var(--main-bg-color);
    user-select: none;
    overflow: hidden;
    scroll-behavior: smooth;
}

#titlebar-region{
    -webkit-app-region: drag;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 68px;
    background: var(--main-bg-color);
    cursor: default;
    z-index: 30;
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
    transition: 0.2s top ease;
    /* border-bottom: 1px solid var(--window-outline); */
}

.ui-titlebar {
	display: flex;
	width: 100%;
	height: 32px;
	/* background: #0072c6; */
	user-select: none;
    cursor: default;
    -webkit-app-region: no-drag;
} 
.ui-titleicon {
	flex-grow: 1;
	max-width: 32px;
	max-height: 32px;
}
.ui-titletext {
	flex-grow: 2;
	max-height: 32px;
	width: auto;
	font: 12px/32px "Segoe UI", Arial, sans-serif;
	color: #fff;
	text-indent: 10px;
}
.ui-titlecontrols {
	max-width: 144px;
	max-height: 32px;
	flex-grow: 1;
}
.ui-btn {
	margin: 0;
	width: 48px;
	height:32px;
	border: 0;
	outline: 0;
    /* background: transparent; */
    background: var(--accent-offset);
}
.ui-btn:hover {
	/* background: rgba(255,255,255,.2); */
}
.ui-btn.close:hover {
	/* background: #e81123; */
}
.ui-btn svg path, 
.ui-btn svg rect, 
.ui-btn svg polygon {
	fill: #fff;
}
.ui-btn svg {
  width: 10px;
  height: 10px;
}

#newtabbutton{
    /* background: rgba(1, 1, 1, 0.15); */
    background:  var(--accent-offset);
    position: absolute;
    height: 32px;
    width: 25px;
    right: 144px;
    top: 0px;
    text-align: center;
    line-height: 32px;
    color: var(--standard-text-colour);
    font-size: 26px;
    font-weight: bold;
    user-select: none;
    cursor: default;
    -webkit-app-region: no-drag;
}

#newtabbutton:hover{
    /* background: rgba(1, 1, 1, 0.15); */
}

#dummytabregion{
    -webkit-app-region: drag;
    background: var(--accent-offset);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 32px;
}

#tabregion{
    background:  var(--accent-offset);
    position: absolute;
    left: 20px;
    right: 169px; /* nice */
    top: 0px;
    height: 33px;
    -webkit-app-region: drag;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

#tabregion::-webkit-scrollbar { 
    /* display: none;  */
    position: absolute;
    height: 1px;
    width: 0px;
    top: 0px;
    background: var(--main-bg-color);
}

#tabregion::-webkit-scrollbar-track{
    display: none;
    background: transparent;
}

#tabregion::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,0.3);
}

#urlbar{
    position: absolute;
    -webkit-app-region: no-drag;
    left: 120px;
    right: 120px;
    width: calc(100% - 240px);
    height: 26px;
    top: 35px;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
    color: var(--standard-text-colour);
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    user-select: none;
    transition: 0.2s background ease, 0.2s color ease, 0.2s border ease;
    border: 1px solid rgba(255,255,255,0.2);
}

#urlbar::selection{
    background: rgba(255,255,255,0.6);
    color: black;
}

#urlbar:focus{
    background: rgba(255, 255, 255, 0.2);
    /* box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,1); */
}

#urlbar::placeholder{
    color: rgba(255,255,255,0.5);
}

#urlbar:hover{
    border: 1px solid rgba(255,255,255,0.4);
}

#navbuttons{
    color: white;
    font-size: 32px;
    position: absolute;
    left: 4px;
    top: 32px;
    transition: 0.2s color ease;
}

#endingbuttons{
    color: white;
    font-size: 32px;
    position: absolute;
    right: 4px;
    top: 32px;
}

.ubarnavbtn{
    /* transition: 0.2s all ease; */
    -webkit-app-region: no-drag;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid rgba(255,255,255,0);
    transition: 0.2s opacity ease;
}

.ubarnavbtn:hover{
    /* filter: opacity(0.6); */
    user-select: none;
    border: 1px solid rgba(255,255,255,0.4);
}

.ubardisabled{
    opacity: 0.4;
    pointer-events: none;
}

webview{
    display: none;
    transition: 0.3s all ease;
    background: white;
}

#webwrapper{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 68px;
    transition: 0.3s all ease;
}

.activewbv{
    position: absolute;
    display: inline-flex;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.tab{
    -webkit-app-region: no-drag;
    user-select: none;
    position: relative;
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 32px;
    height: 32px;
    background: rgba(255,255,255,0);
    width: auto;
    max-width: 320px;
    overflow: hidden;
    color: var(--standard-text-colour);
    animation: tabanimin 0.2s ease;
    transform-origin: 0% 50% 0;
    transition: 0.2s background ease, 0.2s box-shadow ease, 0.2s opacity ease;
    z-index: 41;
    opacity: 1;
}

.tab:not(.activetab){
    /* color: #adadad; */
    opacity: 0.6;
}

.tab:not(.activetab):hover{
    /* color: #dadada; */
    /* opacity: 0.8; */
    background: rgba(255,255,255,0.1);
    box-shadow: inset 0px 1px 0px 0px var(--standard-accent-colour);
}

.tabclosebtn{
    font-family: 'Material Icons' !important;
    color: rgba(255, 255, 255, 0.3) !important;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    position: absolute;
    transition: 0.2s color ease;
    justify-self: left;
}

.tabclosebtn:hover{
    color: rgba(255, 255, 255, 0.6) !important;

}

.tabtext{
    margin-left: 32px;
    margin-top: 0px;
    margin-bottom: 15px;
    max-width: 180px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 32px !important;
    padding-top: 0px !important;
}

.tabimg{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    height: 18px;
    width: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.activetab{
    background: transparent;
}

.spinner div {
  width: 15px;
  height: 2px;
  position: absolute;
  left: -20px;
  top: 40px;
  background-color: #ffffff;
  animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
  animation-direction: alternate-reverse;
}

.spinner div:nth-child(2) {
  animation-delay: 150ms;
}

.spinner div:nth-child(3) {
  animation-delay: 300ms;
}

.spinner div:nth-child(4) {
  animation-delay: 450ms;
}

@keyframes move {
    0% {left: 0%;}
    75% {left:100%;}
    100% {left:100%;}
}

#loaderwrapper{
    position: absolute;
    -webkit-app-region: no-drag;
    left: 140px;
    right: 95px;
    width: auto;
    height: auto;
    top: 21px;
    /* display: none; */
    opacity: 0;
    transition: 0.2s opacity ease;
}

.tabclosebtn{
    position: relative;
    left: 2px;
    color: var(--standard-icon-colour);
    display: inline-block;
}

#menu{
    position: absolute;
    right: 2px;
    top: 0px;
    background: var(--secondary-bg);
    border: 1px solid rgba(255,255,255,0.5);
    z-index: 20;
    min-width: 220px;
    transition: 0.3s all cubic-bezier(.27,.62,.59,1.01);
    /* display: none; */
    pointer-events: none;
    transform: scale(1);
    transform-origin: 50% 0%;
    width: 256px;
}

.menuitem{
    color: white;
    line-height: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: calc(100% - 8px);
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-top: 1px solid rgba(255,255,255,0);
    border-bottom: 1px solid rgba(255,255,255,0);
    transition: 0.1s border ease;
    font-size: 16px;
}

.kshortcut{
    color: grey !important;
    justify-self: right;
    font-size: 12px;
    position: absolute;
    right: 6px;
}

.disabledmnuitem{
    color: #adadad;
    pointer-events: none;
}

.menuitem:hover{
    border-top: 1px solid rgba(255,255,255,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

@keyframes menuslidein {
    0%   { right: -250px; opacity: 0 !important; transform: scale(0.95); }
    100% { right: 2px; opacity: 1 !important; transform: scale(1);}
}

#notsecure{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #adadad;
    /* background: red; */
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    /* padding-right: 5px; */
    position: absolute;
    left: 125px;
    top: 38px;
    margin-right: 10px;
    border-right: 1px solid #adadad;
    height: 20px;
    line-height: 20px;
    cursor: default;
    pointer-events: auto;
    z-index: 40;
    transition: 0.2s background ease, 0.2s color ease;
}

#notsecure:hover{
    /* background: rgba(255,255,255,0.2); */
    /* border-right: 1px solid transparent; */
}

#notsecure::first-letter{
    padding-left: 20px;
}

.urlbar-i{
    font-size: 14px !important;
    line-height: 20px !important;
    position: absolute;
}

#secure{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #adadad;
    /* color: 	#A52A2A; */
    position: absolute;
    left: 135px;
    top: 40px;
    margin-right: 10px;
    border-right: 1px solid #adadad;
    height: 20px;
    line-height: 20px;
    animation: nsslidein 0.3s ease;
    /* display: none; */
    cursor: default;
}

@keyframes nsslidein {
    0%   { opacity: 0; }
    100% { opacity: 1;}
}

@keyframes tabanimin {
    0%   { transform: scale(0,1); opacity: 0;}
    100% { transform: scale(1,1); opacity: 1;}
}

#mmx1{
    display: inline;
}

#mmx2{
    display: none;
}

#panelwrapper{
    position: absolute;
    right: -381px;
    /* right: 0px; */
    bottom: 0px;
    top: 68px;
    z-index: 20;
    width: 380px;
    background: black;
    border-left: 1px solid rgba(255,255,255,0.4);
    transition: 0.3s all ease;
    display: none;
}

#panelframe{
    position: absolute;
    width: 100%;
    height: calc(100% - 26px);
    top: 26px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#panelclose{
    color: white;
    top: 2px;
    background: rgba(255, 255, 255, 0.2);
    height: 25px;
    line-height: 25px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2)
}

#panellabel{
    display: inline;
    position: absolute;
    left: 40px;
    top: 0px;
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
}

#bookmarkapplet{
    position: absolute;
    background: #151515;
    border: 1px solid rgba(255, 255, 255, 0.6);
    top: 0px;
    left: 30%;
    right: 30%;
    height: 175px;
    z-index: 20;
    min-width: 320px;
    opacity: 0;
    transition: 0.3s top ease, 0.3s opacity ease;
    pointer-events: none;
}

.bkmrkheader{
    color: white;
    margin-left: 28px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px !important;
}

.bkmrkicons{
    color: white;
    margin-top: 7px;
    margin-left: 4px;
    position: absolute;
    font-family: 24px;
}

.bookmarkinput{
    display: block;
    position: relative;
    width: 60%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 16px;
    left: 20%;
    right: 20%;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
    color: white;
    border: 1px solid rgba(255,255,255,0.2);
}

.bookmarkinput::selection{
    background: rgba(255,255,255,0.6);
    color: black;
}

.bookmarkinput:focus{
    background: rgba(255, 255, 255, 0.2);
    /* box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,1); */
}

.bookmarkinput::placeholder{
    color: rgba(255,255,255,0.5);
}

.bookmarkinput:hover{
    border: 1px solid rgba(255,255,255,0.4);
}

#bkmrkbuttonwrapper{
    /* background: red; */
    position: absolute;
    bottom: 6px;
    right: 6px;
    height: 32px;
    width: 160px;
}

.bookmarkbutton{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    height: 100%;
    line-height: 32px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid rgba(255,255,255,0.2);
}

.bookmarkbutton:hover{
    border: 1px solid rgba(255,255,255,0.4);
}

#loadmask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-bg-color);
    z-index: 70;
    top: 0px;
    right: 0px;
    transition: 0.3s opacity ease;
}

#loadimg{
    position: absolute;
    width: 128px; 
    height: 128px;
    left: calc(50% - 64px);
    top: calc(50% - 64px);
    filter: grayscale(1);
    opacity: 0.6;
}

#tabindic{
    position: absolute;
    top: 0px;
    display: block;
    height: 32px;
    /* background: rgba(255,255,255,0.1); */
    background: var(--main-bg-color);
    box-shadow: inset 0px 1px 0px 0px var(--standard-accent-colour);
    width: 100px;
    z-index: 40;
    transition: 0.2s width ease, 0.2s left ease;
    pointer-events: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.backdrop{
    position: absolute;
    top: 68px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0,0,0,0.3);
    z-index: 19;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s opacity ease;
}

#inverter{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 68px;
    background: transparent;
    backdrop-filter: invert(1);
    pointer-events: none;
    z-index: 31;
    display: none;
}

hr{
    height:1px; 
    border:none; 
    background-color:rgba(255, 255, 255, 0.3);
}

#statusbar{
    position: absolute;
    background: var(--main-bg-color);
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
    left: 4px;
    bottom: 4px;
    height: 22px;
    line-height: 22px;
    min-width: 100px;
    max-width: 400px;
    z-index: 40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: none;
    pointer-events: none;
    opacity: 0.8;
    /* animation: statusbar 0.3s ease; */
    animation-name: statusbar;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

@keyframes statusbar {
    0%   { opacity: 0; }
    100% { opacity: 1;}
}

#dropdownwrapper{
    position: absolute;
    left: 120px;
    right: 78px;
    top: 72px;
    height: 286px;
    background: #202020;
    border: 1px solid rgba(255,255,255,0.3);
    z-index: 19;
    display: none;
}

#dropdown{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.dditem{
    left: 0px;
    right: 0px;
    display: block;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: 0.1s border ease;
}

.dditem:hover{
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

#ddbottom{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    line-height: 48px;
    height: 48px;
    background: rgba(1,1,1,0.3);
}

.ddbottomlabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-left: 24px;
}