body{
    background: #202020;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content{
  position: absolute;
  width: 500px;
  top: 50px;
  height: 152px;
  background: #343538;
  align-self: center;
  left: calc(50% - 251px);
  /* animation: animin 0.3s ease; */
  opacity: 1;
  z-index: 2;
  border: 1px solid rgba(255,255,255,0.2);
  border-bottom: none;
}

#errorDropdown{
  position: absolute;
  /* display: none; */
  width: 500px;
  /* top: calc(50px + 152px); */
  top: 51px;
  height: 152px;
  background: #343538;
  align-self: center;
  left: calc(50% - 251px);
  /* box-shadow: 0px 0px 35px 3px rgba(0,0,0,0.25); */
  /* animation: animin 0.3s ease; */
  opacity: 1;
  z-index: 0;
  border: 1px solid rgba(255,255,255,0.2);
  border-top: none;
  color: rgba(255,255,255,0.7);
  transition: 0.3s top ease;
}

.productlogo{
  width: 128px;
  transition: 0.2s opacity ease;
}

#sidecontent{
  /* background: red; */
  position: absolute;
  top: 0px;
  left: 136px;
  height: 128px;
  right: 0px;
  color: white;
}

.header{
  font-size: 44px;
  padding-top: 4px;
  display: block;
}
.version{
  font-size: 16px !important;
}

@keyframes animin {
  0%   { opacity: 0; transform: scale(0.9); }
  100% { opacity: 1; transform: scale(1);}
}

#errorcode{
  position: absolute;
  height: 24px;
  background: rgba(0,0,0,0.2);
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  font-weight: bold;
}

#errorcodeinner{
  user-select: all;
  font-weight: lighter !important;
}

.ecodeicon{
  position: absolute;
  right: 0px;
  /* transform: rotate(90deg); */
  transition: 0.2s transform ease;
  cursor: pointer;
}

.dlheader{
  position: absolute;
  left: 8px;
  top: 4px;
  font-size: 18px;
}

.dlul{
  position: absolute;
  left: 4px;
  top: 14px;
}

.activesuggest{
  text-decoration: underline !important;
  color: #ededed !important;
}